* {
  margin: 0;
}

.app {
  background-color: rgb(246, 242, 237);
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray; 
  object-fit: contain; /* keeps aspect ratio */
  display: flex;
  justify-content: space-between;

  /* keeps header on the top, z-index so stays in front */
  position: sticky;
  top: 0;
  z-index: 1;
}

.app_posts {
  padding: 20px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}